page-register {
  ion-content {
    background-image: url('../assets/imgs/background.jpeg');
  }

  ion-item {
    border-radius: 26px !important;
    opacity: 0.7;
  }

  ion-footer {
    position: fixed;
  }

  .toolbar-content,
  .toolbar-content-ios {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;

    &__select {
      background-color: rgba(155, 81, 224, 0.9);
    }

    &__not {
      background-color: rgba(111, 207, 151, 0.8);
    }
  }

  .title-register {
    margin-top: 20px;
    padding-bottom: 0;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 1px;

    &.first {
      margin: 20px 0;
    }
  }

  .subtitle-register {
    margin-top: 2px;
    margin-bottom: 20px;
    padding-top: 0;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 300;
    opacity: .7;
  }

  .icon-eyes {
    font-size: 0 !important;

    ion-icon {
      display: block;
      width: 20px;
      height: 100%;
      background: url('../../assets/icon/login/view-password.svg') center no-repeat;
      background-size: 100%;
      filter: grayscale(100%);

      &[class*="eye-off"] {
        filter: grayscale(0);
      }
    }
  }

  .button-default,
  .button-default.activated {
    border-radius: 26px !important;
    background-color: rgba(155, 81, 224, 0.9);

  }

  .txt-register-success {
    font-size: 26px;
    color: #fff;
    margin-bottom: 60px;
  }
}
