// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Montez');
@import url('https://fonts.googleapis.com/css?family=Raleway');

$tradeColor: #8845C6;
$tradeLigth: #CE90E6;

.toolbar {
  .toolbar-title-md {
    font-size: 3rem;
    color: $tradeColor;
  }

  ion-icon[name="menu"] {
    color: #000;
    font-size: 34px;
  }

  .title {
    font-family: 'Raleway', sans-serif;

    .toolbar-title {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;

      @media screen and (max-width: 340px) {
        font-size: 14px;
      }
    }
  }

  .back-button {
    padding: 0 20px 0 10px;
    color: $tradeColor;

    .back-button-text {
      font-size: 0;
    }
  }
}

.menu-inner {
  .content {
    background: #CE90E6;
  }

  .list {
    border: 0;

    .item {
      padding: 10px 0;
      background: #CE90E6;
      border: 0;

      .item-inner {
        background: none;
        border: 0;
      }

      .label {
        padding-left: 15px;
        color: #FFF;
        text-align: center;
      }
    }
  }

  .footer {
    background: #6FCF97;

    .toolbar-background {
      background: #6FCF97;
    }

    .item,
    .item-inner {
      background-image: none !important;
      border: 0;
      text-align: center;
      color: #FFF;
      background: #6FCF97;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.toast-message {
  background: #CE90E6;
  color: #FFFFFF;
}

.fab {
  background: #CE90E6;
}
