page-chat {
  ion-item {
    background: #8845C6 !important;
    border-radius: 8px !important;
    height: 85px;
    margin-bottom: 23px !important;
  }

  ion-avatar {
    img {
      width: 46px !important;
      height: 46px !important;
    }
  }
}
