page-my-products {
  ion-footer {

    .button,
    .button.activated {
      display: block;
      margin: 10px auto;
      width: 90%;
      background: #CE90E6;
      border: 0;
      border-radius: 26px !important;
      color: #FFFFFF;
    }
  }

  .selected {
    border: 2px solid #CE90E6;
    transition: border-width 0.4s cubic-bezier(0.87, -0.1, 0.03, 0.99);
  }
}
