menu {
  padding: 0;
  ion-img {
    min-width: 106%;
    min-height: 125px;
    border-radius: 15px;
    background-color: transparent;
  }

  ion-col {
    margin:7px !important;
    padding: 15px !important;
  }
}

