<ion-grid text-center>
  <ion-row>
    <ion-col>
      <ion-img src="assets/imgs/produtos.png" class="animated fadeInLeft" (click)="pushPage('ProductPage')"></ion-img>
    </ion-col>
    <ion-col offset-50>
      <ion-img src="assets/imgs/ofertas.png" class="animated fadeInRight" (click)="pushPage('OffersPage')"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-img src="assets/imgs/chat.png" class="animated fadeInLeft" (click)="pushPage('ChatPage')"></ion-img>
    </ion-col>
    <ion-col>
      <ion-img src="assets/imgs/cadastros.png" class="animated fadeInRight" (click)="pushPage('MyMenuPage')"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-img src="assets/imgs/relatorios.png" class="animated fadeInLeft" (click)="pushPage('RelatoriosPage')"></ion-img>
    </ion-col>
    <ion-col>
      <ion-img src="assets/imgs/configuracoes.png" class="animated fadeInRight"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
