page-offers {
  .icon-segment {
    font-size: 1.5rem !important;
    &::before {
      margin-right: 5px;
    }
  }

  ion-segment {
    margin-top: -13px;
  }

  ion-label {
    margin: 0px 8px 13px 0 !important;
  }

  img {
    border-radius: 8px;
  }
}
