    <ion-card class="animated flipInY" *ngFor="let product of products">
      <ion-item>
        <ion-avatar item-start>
          <img src="http://localhost:8080/storage/users/{{product?.tb_user.image}}">
        </ion-avatar>
        <h2>{{product?.tb_user.userName}}</h2>
        <p *ngIf="product?.tb_user.address">{{ product?.tb_user.address.city }}, {{ product?.tb_user.address.state}} </p>
      </ion-item>
      <div class="img-product">
        <img src="http://localhost:8080/storage/images/{{product?.images[0]?.hash_name}}" />
      </div>
      <div class="card-title">
        {{ product.name }}
      </div>
      <ion-card-content>
        <button ion-button color="purple" outline (click)="openDetail(product)">Detalhes</button>
        <button ion-button color="purple" class="whistlist" outline icon-only (click)="likeProduct($event)">
          <ion-icon id="{{product.id}}" class="icon" [name]="product.productWished.length > 0 ? 'heart' : 'heart-outline'"
            (click)="likeProduct($event)"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>
