list-products {
  img {
    height: 200px;
  }

  ion-card {
    position: relative;
    text-align: center;
  }

  ion-card-content {
    display: flex;
    justify-content: space-between;
  }

  .card {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

    .img-product {
      margin: auto;
      padding: 20px;
      width: 80%;

      img {
        height: auto;
      }
    }

    .card-title {
      padding: 10px 20px;
      background: #CE90E6;
      color: #FFF;
      font-size: 16px;
      text-align: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .card-content {
      padding: 13px 16px 10px;

      button,
      button.activated {
        color: #FFFFFF;
        border-radius: 26px !important;
        background-color: #CE90E6;
        border: 0;

        &.whistlist {
          background: transparent;

          .icon {
            width: 28px;
            height: 28px;
            background: url('../../assets/icon/products/like.svg') center no-repeat;
            background-size: 100%;
            font-size: 0;
            transition: all .2s ease;

            &.hover {
              background: url('../../assets/icon/products/like_hover.svg') center no-repeat;
              background-size: 100%;
            }
          }
        }
      }
    }
  }
}
