info {
  ion-row {
    background-color: $tradeLigth;
    border-radius: 20px;
    height: 70px;
    padding: 8px;
    margin-bottom: 25px;
    color:white;
  }

  .bold {
    font-weight: bold;
  }
}
