<ion-grid text-center>
  <ion-row>
    <ion-col align-self-center col-6 class="bold">Trocas realizadas</ion-col>
    <div style="width: 1px; background: #722DB2;"></div>
    <ion-col align-self-center col-5 class="bold">{{ data.trocas }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col align-self-center col-6 class="bold">Ofertas Recebidas</ion-col>
    <div style="width: 1px; background: #722DB2;"></div>
    <ion-col align-self-center col-5 class="bold">{{ data.ofertasRecebidas }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col align-self-center col-6 class="bold">Ofertas Realizadas</ion-col>
    <div style="width: 1px; background: #722DB2;"></div>
    <ion-col align-self-center col-5 class="bold">{{ data.ofertasRealizadas }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col align-self-center col-6 class="bold">Produtos Cadastrados</ion-col>
    <div style="width: 1px; background: #722DB2;"></div>
    <ion-col align-self-center col-5 class="bold">{{ data.produtos }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col align-self-center col-6 class="bold">Nota média de avaliação</ion-col>
    <div style="width: 1px; background: #722DB2;"></div>
    <ion-col align-self-center col-5 class="bold">{{ data.nota }}</ion-col>
  </ion-row>
</ion-grid>
