page-messages {


  .message {
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 7px !important;
  }

  .my_message {
    background: #8845C6 !important;
    color: #FFFFFF !important;

    .user_name,
    .time {
      color: #6FCF97;
    }
  }

  .other_message {
    background: #6FCF97 !important;
    color: #000 !important;

    .user_name,
    .time {
      color: #7b1cd4;
    }
  }

  .time {
    float: right;
    font-size: small;
  }

  .message_row {
    background-color: #fff;
  }

  .button-inner {
    color: #7b1cd4;
  }
}
